<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>HIVLessPHL</title>
</head>
<body ng-app="app">

    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="app/app.js"></script>

    <script src="js/bootstrap.js"></script>
    <link href="css/bootstrap-theme.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />


    <div class="container">
        <div class="row text-center">
            <h2>MancalAI</h2>
        </div>
    </div>

    <div ng-controller="game" class="container">
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-2 text-center">
                <div class="row">
                    <button class="btn btn-default col-xs-12"">You</button>
                </div>
                <div class="row">
                    <button class="btn btn-default col-xs-12">{{holes[13].count}}</button>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="row">
                    <button class="btn btn-default col-xs-12" ng-click="pick(0)">{{holes[0].count}}</button>
                </div>
                <div class="row">
                    <button class="btn btn-default col-xs-12" ng-click="pick(12)">{{holes[12].count}}</button>
                </div>
            </div>


            <div class="col-xs-1">
                <div class="row">
                    <button class="btn btn-default col-xs-12" ng-click="pick(1)">{{holes[1].count}}</button>
                </div>
                <div class="row">
                    <button class="btn btn-default col-xs-12" ng-click="pick(11)">{{holes[11].count}}</button>
                </div>
            </div>


            <div class="col-xs-1">
                <div class="row">
                    <button class="btn btn-default col-xs-12" ng-click="pick(2)">{{holes[2].count}}</button>
                </div>
                <div class="row">
                    <button class="btn btn-default col-xs-12" ng-click="pick(10)">{{holes[10].count}}</button>
                </div>
            </div>


            <div class="col-xs-1">
                <div class="row">
                    <button class="btn btn-default col-xs-12" ng-click="pick(3)">{{holes[3].count}}</button>
                </div>
                <div class="row">
                    <button class="btn btn-default col-xs-12" ng-click="pick(9)">{{holes[9].count}}</button>
                </div>
            </div>


            <div class="col-xs-1">
                <div class="row">
                    <button class="btn btn-default col-xs-12" ng-click="pick(4)">{{holes[4].count}}</button>
                </div>
                <div class="row">
                    <button class="btn btn-default col-xs-12" ng-click="pick(8)">{{holes[8].count}}</button>
                </div>
            </div>


            <div class="col-xs-1">
                <div class="row">
                    <button class="btn btn-default col-xs-12" ng-click="pick(5)">{{holes[5].count}}</button>
                </div>
                <div class="row">
                    <button class="btn btn-default col-xs-12" ng-click="pick(7)">{{holes[7].count}}</button>
                </div>
            </div>

            <div class="col-xs-2 text-center">
                <div class="row">
                    <button class="btn btn-default col-xs-12">{{holes[6].count}}</button>
                </div>
                <div class="row">
                    <button class="btn btn-default col-xs-12">AI</button>
                </div>
            </div>


            <div class="col-xs-1">

            </div>

        </div>
    </div>


</body>
</html>
